.bookAS-mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    background: var(--header-color);
    color: red;
   
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 100;
    border-radius: 5px;
}
.bookAS-mainDiv img {
    width:100% ;
    height: 500px;
}
.bookAS-mainDiv h1 {
    font-size: 24px;
    font-weight: bold;
}