.bookAL-mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    background: var(--header-color);
    color: red;
   
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 100;
    border-radius: 5px;
}
.bookAL-mainDiv img {
    width: 200px;
    height: 200px;
}
.bookAL-mainDiv h1 {
    font-size: 24px;
    font-weight: bold;
}