.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 73px;
    width: 100vw;
    max-width: 100%;
    position: sticky;   /* ya fixed */
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--header-color);
    overflow: hidden;
    background: var(--header-color);
}
.header .leftH img{
    height: 100px;
    cursor: pointer;
    
}
.header .rightH{
    display: flex;
    /* justify-content: space-between; */
    flex-direction:row-reverse;
    align-items: center;
    /* background: red; */
    width: 60%;
}
.header .cart-div{
  position: absolute;
  height: 100%;
  width: 100px;
  right: 20px;
  /* background: #5c4b4b; */
  /* display: none; */
  
}
.header p{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.header .cart-btn  {
  /* position: absoute; */
  top: 30px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  /* display: none; */
}

.rightH .menu-btn{
    height: 60px;
    width: 60px;
    cursor: pointer;
     
}