.loading-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    border-radius: 20px;
    width: 200px;
 margin: 0 auto;
 color: rgb(13, 82, 151);
}
.loading-box img{
    width: 100px;
    height: 100px;
}