.loading-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--header-color);
    gap: 20px;
    border-radius: 20px;
    width: 200px;
 margin: 0 auto;
 color: rgb(34, 139, 94);
}
.loading-box img{
    width: 100px;
    height: 100px;
}