.somthingWrong-mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    background: white;
    color: red;
   
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 11;
    border-radius: 5px;
   
}

.somthingWrong-mainDiv h1 {
    font-size: 24px;
    font-weight: bold;
}