.sponserd-main {
  margin-left: 5px;
  /* padding: 10px; */
}

.sponserd-heading {
  color: #228B5E;
  margin-bottom: 10px;
  font-size: 22px;
}

.sponserd-slider {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.sponserd-slider::-webkit-scrollbar {
  display: none;
}

.sponserd-card {
  min-width: 260px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  position: relative;
  background: white;
}

.sponserd-slider .spo-btn {
  position: absolute;
  right: 12px;
  bottom: 12px;

  background: linear-gradient(135deg, #228B5E, #176B47);
  color: #fff;

  padding: 8px 14px;
  font-size: 13px;
  font-weight: 600;

  border: none;
  border-radius: 20px;

  cursor: pointer;
  transition: 0.3s ease;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.sponserd-slider .spo-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
}

.sponserd-slider .spo-btn:active{
   background: #228B5E;
   color: white;
}
.sponserd-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
